body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*CONTAINER*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*INTRO*/
.intro {
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg")
    center
    no-repeat;
    background-size: cover;
}
/*HEADER*/
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/*.HEADER__LOGO*/
.header__logo {
font-size: 40px;
font-weight: 700;
color: #ffffff;
}

.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #4575D4	;
}